/* Google Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BODY  */

* {
    font-family: 'Poppins', sans-serif;
}

/* HEADER  */

/* Top Bar  */

.Top-bar {
    height: 2rem;
    background-color: #064f88;
    color: white;
}

.Top-bar h1 {
    font-size: 1.2rem;
    line-height: 2rem;
}

@media only screen and (max-width: 542px) {
    .Top-bar h1 {
        font-size: 1rem;
        line-height: 2rem;
    }
}

/* Middle Bar  */

@media only screen and (max-width: 770px) {
    .logo {
        text-align: center;
    }
}

.middle-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control:focus {
    border-color: #064f88;
    box-shadow: none;
    outline: 0 none;
}

.fa-search {
    font-size: 1.5rem;
    
}

@media only screen and (max-width: 660px){
.fa-search {
    font-size: 1.2rem;
    
}
}

.btn-default:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

.btn-default:hover {
    color: #064f88;
    transform: scale(1.3);
}

.banner-icons {
    font-size: 1.5rem;
    padding:0 5px;
    transition: all 0.3s ease-in-out;
}

.banner-icons:hover {
    color: #064f88;
}

@media only screen and (max-width: 660px){
.banner-icons {
    font-size: 1.2rem;
    padding:0;
    
}
}


/* NAVBAR  */

.navbar-custom .navbar-nav .active .nav-link {
    color: #064f88;
}

.bg-custom {
    border-bottom: solid 1px #064f88;
}

.navbar-icons {
    padding: 0px 5px 0px 5px;
    font-size: 1.5rem;
     transition: all 0.3s ease
}

@media only screen and (max-width: 660px){
.navbar-icons {
    font-size: 1rem;
    
}
}

.mr-auto .fb i:hover {
    color: rgb(0, 81, 255);
}

.mr-auto .ig i:hover {
    color: rgb(243, 72, 214);
}

.mr-auto .tt i:hover {
    color: rgb(61, 123, 255);
}

.custom-color {
    color: black;
}

.navbar-custom a {
    color: black;
}

.nav-link:hover {
    color: #064f88
}

.navbar-toggler-icon {
    background-image: url(https://cdn3.iconfinder.com/data/icons/neu-interface/24/interface_2_hamburger_menu_menu_justify_writing-512.png);
}

.mx-navbar {
    margin-left: auto !important;
}


/* Columns */

div.dropdown-multicol2 {
    width: 30em;
}

div.dropdown-multicol2>div.dropdown-col {
    display: inline-block;
    font-size: 15px;
}

.dropdown-menu {
    margin: 0.625rem 0 0;
}

@media only screen and (max-width: 991px) {
    .div.dropdown-multicol2>div.dropdown-col {
        display: none;
    }
    div.dropdown-multicol2 {
        width: 10em;
    }
    div.dropdown-multicol2>div.dropdown-col {
        display: inline-block;
        font-size: 10px;
    }
    .dropdown-menu {
        margin: 0.625rem 0 0;
        margin: auto;
        text-align: center;
    }
}
/* CAROUSEL  */

.carousel-slider{
    width: 100%;
    margin: 1% 0;
  

}
.container-slider{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-item{
      height: 100%;
}
@media only screen and (max-width: 1150px){
.carousel-slider .container-slider{
    max-width: 1920px;
}
}


/* Store Text */

.store-text{
font-size: 1rem;
margin-bottom: 1%;
}

@media only screen and (max-width: 768px){
.store-text{
font-size: 0.5rem;
}
}

@media only screen and (max-width: 352px){
.store-text{
font-size: 0.3rem;
}
}

/* Swiper  */

.swiper-button-prev,.swiper-button-next{
    color: #064f88;
}

/* CARD */

.card{
    overflow: hidden;
    height: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(6, 54, 212, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset!important;
    
}
.card-img-top{
    width: 180px;
    margin: 0 auto;
        transition: all 0.3s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.1);
    overflow: hidden;
}

.card-title{
    text-align: center;
    font-size: 1rem;
}

.card-text{
    text-align: center;
    font-size: 1rem;
}

.strike-text{
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.671);
}

.btn-primary{
    background-color: #064f88;
border-color: #064f88;
font-size: 1rem;
}

.link-font{
    line-height: 1.5;
}

@media only screen and (max-width: 1100px){

 .card{
overflow: hidden;
height: 325px;
    width: 100%;
    
}

.card-img-top{
    width: 130px;
    margin: 0 auto;
        transition: all 0.3s ease-in-out;
}

.card-img-top:hover{
    transform:none;
    
}

.card-title{
    text-align: center;
    font-size: 1rem;
}

.card-text{
    text-align: center;
    font-size: 0.7rem;
}

.strike-text{
    font-size: 0.5rem;
    color: rgba(128, 128, 128, 0.671);
}

.btn-primary{
    background-color: #064f88;
border-color: #064f88;
font-size: 0.8rem;
}   
}


/* HEADING  */

.main-heading{
    color: black;
    margin-bottom: 2%;
  
}

.main-heading h1{
    font-size: 2rem;
}
.main-heading span{
    color: #064f88;
    font-size: 4rem;
}
 
@media only screen and (max-width: 650px){
    .main-heading h1{
        font-size: 1.5rem;
    }
}

/* Brands   */

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Best Selling Products */

.deal-cards{
    margin: 1rem 0;
}